<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/simple-grid.min.css">
        <link rel="icon" type="image/x-icon" href="/assets/SA-LogoSite.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="container flex between">
                    <div class="menu-icon">
                        <svg v-if="menuMobile" @Click="menuMobile = false" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg v-if="!menuMobile" @Click="menuMobile = true" width="40" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="menu-esquerdo">
                        <div class="logo-menu">
                            <img @Click="irParaHome" src="/assets/SA-LogoSite.png" width="70" />
                        </div>
                        <ul class="menu-items">
                            <li @Click="irParaSalas">Salas</li>
                            <li @Click="irParaTurmas">Turmas</li>
                            <li @Click="irParaUsuarios" v-if="usuarioLogado.funcao == 1">Usuários</li>
                        </ul>
                    </div>
                    <div class="menu-direito">
                        <div class="avatar-usuario">
                            <img @Click="userInfoMobile = true" :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário">
                        </div>
                        <ul class="usuario-menu">
                            <li @Click="irParaVerPerfil()">{{usuarioLogado.nome}}</li>
                            <li @Click="saindo = true" class="delete">Sair</li>
                        </ul>
                    </div>
                </div>
                <div class="container" v-if="!menuMobile">
                    <ul class="menu-items-mobile">
                        <li @Click="irParaSalas" style="border-top: none;">
                            <i class="material-icons">meeting_room</i>
                            Salas
                        </li>
                        <li @Click="irParaTurmas" style="border-top: none;">
                            <i class="material-icons">groups</i>
                            Turmas
                        </li>
                        <li @Click="irParaUsuarios" style="border-top: none;" v-if="usuarioLogado.funcao == 1">
                            <i class="material-icons">account_circle</i>
                            Usuários
                        </li>
                    </ul>
                </div>
                <ul class="user-info-mobile" v-if="userInfoMobile">
                    <li><i class="large material-icons close-mobile" @Click="userInfoMobile = false">close</i></li>
                    <li class="flex-column center">
                        <div class="avatar-usuario-mobile">
                            <img :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário" width="60" height="60">
                        </div>
                        {{usuarioLogado.nome}}
                        <small>{{usuarioLogado.email}}</small>
                        <a class="link-perfil" @Click="irParaVerPerfil">Visualizar Perfil</a>
                    </li>
                    <li @Click="saindo = true" class="sair-mobile">Sair</li>
                </ul>
            </nav>

            <div class="container">
                <div class="alert-warning" v-if="apiErro">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                    <h5 v-for="erro in apiErros">{{erro}}</h5>
                </div>

                <div class="alert-success" v-if="editado">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                      </svg>
                    <h5>Sala editada com sucesso</h5>
                </div>

                <fieldset>
                    <legend>
                        <h3>Editando Salas</h3>
                    </legend>
                    <p style="border-bottom: 1px solid #e3e3e3;">
                        As salas são fundamentais para a criação de reservas pelos professores dentro do sistema, nessa tela você poderá
                        editar as informações das salas.
                    </p>
                    <div class="row">
                        <input type="hidden" v-model="sala.id">
                        <div class="col-6">
                            <div class="flex-column">
                                <label for="numero">Numero</label>
                                <input
                                    type="number"
                                    name="numero"
                                    id="numero"
                                    v-model="sala.numero"
                                    placeholder="Número da sala"
                                >
                                <small class="error" v-if="numeroErros.length > 0" v-for="erro in numeroErros">{{erro}}</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex-column">
                                <label for="bloco">Bloco</label>
                                <input
                                    type="number"
                                    name="bloco"
                                    id="bloco"
                                    v-model="sala.bloco"
                                    placeholder="Bloco da sala"
                                >
                                <small class="error" v-if="blocoErros.length > 0" v-for="erro in blocoErros">{{erro}}</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex-column">
                                <label for="apelido">Apelido</label>
                                <input
                                    type="text"
                                    name="apelido"
                                    id="apelido"
                                    v-model="sala.apelido"
                                    placeholder="Apelido da sala"
                                >
                                <small class="error" v-if="apelidoErros.length > 0" v-for="erro in apelidoErros">{{erro}}</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex-column">
                                <label for="capacidade">Capacidade</label>
                                <input
                                    type="number"
                                    name="capacidade"
                                    id="capacidade"
                                    v-model="sala.capacidade"
                                    placeholder="Capacidade da sala"
                                >
                                <small class="error" v-if="capacidadeErros.length > 0" v-for="erro in capacidadeErros">{{erro}}</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="flex-column">
                                <label for="descricao_tipo">Descrição</label>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="descricao_tipo"
                                    id="descricao_tipo"
                                    v-model="sala.descricao_tipo"
                                    placeholder="Descrição do tipo da sala"
                                >
                                <small class="error" v-if="descricaoTipoErros.length > 0" v-for="erro in descricaoTipoErros">{{erro}}</small>
                            </div>
                        </div>
                        <div class="col-12 flex between action-mobile">
                            <button class="btn btn-primary create-flex" @Click="editarSala">
                                <img src="/assets/loading.gif" width="20" style="margin-right: 10px;" v-if="editando">
                                {{btnText}}
                            </button>
                            <button class="btn btn-danger" @Click="cancelar">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="modal" v-if="saindo">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que deseja sair?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="saindo = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarSaida">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" v-if="naoautorizado">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Você não tem permissão de acessar aqui!</p>
                </div>
            </div>
        </div>

        <script src="../js/moment.js"></script>
        <script src="../js/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    naoautorizado: false,
                    api_url: api_url,
                    usuarioLogado: null,
                    menuMobile: true,
                    userInfoMobile: false,
                    saindo: false,
                    editando: false,
                    editado: false,
                    apiErro: false,
                    btnText: 'Editar',
                    sala: {
                        id: '',
                        numero: '',
                        bloco: '',
                        apelido: '',
                        descricao_tipo: '',
                        capacidade: ''
                    },
                    numeroErros: [],
                    blocoErros: [],
                    apelidoErros: [],
                    descricaoTipoErros: [],
                    capacidadeErros: [],
                    apiErros: []
                },
                async created() {
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }

                    if(this.usuarioLogado.funcao != 1) {
                        this.naoautorizado = true;
                        setTimeout(() => {
                            window.location = '/home.html';
                        }, 3000);
                    }

                    let id = localStorage.getItem('id_sala');

                    let responseAPI = await fetch(`${api_url}/salas/${id}`, {
                        method: 'get',
                        headers: api_header,
                        mode: 'cors'
                    });

                    let resJson = await responseAPI.json();

                    if(responseAPI.status == 200) {
                        this.sala = resJson;
                    } else {
                        this.apiErro = true;
                        this.apiErros.push(resJson);
                    }
                },
                methods: {
                    confirmarSaida() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    irParaTurmas() {
                        window.location = '/turmas/relatorio_turmas.html';
                    },
                    irParaSalas() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio_usuarios.html';
                    },
                    irParaHome() {
                        window.location = '/home.html';
                    },
                    cancelar() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaVerPerfil() {
                        window.location = '/usuarios/perfil.html';
                    },
                    async editarSala() {
                        if(this.validacao()) {
                            this.editando = true;
                            this.btnText = 'Editando...';
                            let responseAPI = await fetch(`${api_url}/salas`, {
                                method: 'put',
                                headers: api_header,
                                mode: 'cors',
                                body: JSON.stringify(this.sala)
                            });

                            let resJson = await responseAPI.json();

                            if(responseAPI.status == 200) {
                                this.editado = true;
                                this.editando = false;
                                this.btnText = 'Editar';
                                setTimeout(() => {
                                    window.location = '/salas/relatorio_salas.html';
                                }, 3000); 
                            } else {
                                this.editando = false;
                                this.apiErro = true;
                                this.btnText = 'Editar';
                                this.apiErros.push(resJson.error);
                                setTimeout(() => {
                                    this.apiErro = false;
                                }, 3000);
                                return;
                            }
                        }
                    },
                    validacao() {
                        this.numeroErros = [];
                        this.blocoErros = [];
                        this.apelidoErros = [];
                        this.descricaoTipoErros = [];
                        this.capacidadeErros = [];
                        this.apiErros = [];

                        if(this.sala.numero == '' || this.sala.numero == undefined) {
                            this.numeroErros.push('O numero não pode ser vazio.');
                        } else if(this.sala.numero < 0) {
                            this.numeroErros.push('Número inválido');
                        }

                        if(this.sala.bloco == '' || this.sala.bloco == undefined) {
                            this.blocoErros.push('O bloco não pode ser vazio.');
                        } else if(this.sala.bloco < 0) {
                            this.blocoErros.push('Bloco inválido');
                        }

                        if(this.sala.apelido == '' || this.sala.apelido == undefined) {
                            this.apelidoErros.push('O apelido não pode ser vazio.');
                        } else if(this.sala.apelido.length > 15) {
                            this.apelidoErros.push('O apelido não pode conter mais de 50 caracteres.');
                        } else if(this.sala.apelido.length < 3) {
                            this.apelidoErros.push('O apelido não pode conter menos de 03 caracteres.');
                        }

                        if(this.sala.descricao_tipo == '' || this.sala.descricao_tipo == undefined) {
                            this.descricaoTipoErros.push('A descrição não pode ser vazia.');
                        } else if(this.sala.descricao_tipo.length > 50) {
                            this.descricaoTipoErros.push('A descrição não pode conter mais de 50 caracteres.');
                        } else if(this.sala.descricao_tipo.length < 15) {
                            this.descricaoTipoErros.push('A descrição não pode conter menos de 15 caracteres.');
                        }

                        if(this.sala.capacidade == '' || this.sala.capacidade == undefined) {
                            this.capacidadeErros.push('A capacidade não pode ser vazia');
                        } else if(this.sala.capacidade > 40) {
                            this.capacidadeErros.push('A capacidade pode ter no máximo 40 alunos');
                        } else if(this.sala.capacidade < 15) {
                            this.capacidadeErros.push('A capacidade precisa ser de pelo menos 15 alunos');
                        }

                        if(
                            this.numeroErros.length > 0 ||
                            this.blocoErros.length > 0 ||
                            this.apelidoErros.length > 0 ||
                            this.descricaoTipoErros.length > 0 ||
                            this.capacidadeErros.length > 0
                        ) {
                            return false;
                        } else {
                            return true;
                        }
                    }
                }
            });
        </script>
    </body>
</html>