<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/simple-grid.min.css">
        <link href="/assets/SA-LogoSite.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="container flex between">
                    <div class="menu-icon">
                        <svg v-if="menuMobile" @Click="menuMobile = false" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg v-if="!menuMobile" @Click="menuMobile = true" width="40" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="menu-esquerdo">
                        <div class="logo-menu">
                            <img src="/assets/SA-LogoSite.png" width="70" />
                        </div>
                        <ul class="menu-items">
                            <li @Click="irParaSalas">Salas</li>
                            <li @Click="irParaTurmas">Turmas</li>
                            <li @Click="irParaUsuarios" v-if="usuarioLogado.funcao == 1">Usuários</li>
                        </ul>
                    </div>
                    <div class="menu-direito">
                        <div class="avatar-usuario">
                            <img @Click="userInfoMobile = true" :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário">
                        </div>
                        <ul class="usuario-menu">
                            <li>{{usuarioLogado.nome}}</li>
                            <li @Click="saindo = true" class="delete">Sair</li>
                        </ul>
                    </div>
                </div>
                <div class="container" v-if="!menuMobile">
                    <ul class="menu-items-mobile">
                        <li @Click="irParaSalas" style="border-top: none;">
                            <i class="material-icons">meeting_room</i>
                            Salas
                        </li>
                        <li @Click="irParaTurmas" style="border-top: none;">
                            <i class="material-icons">groups</i>
                            Turmas
                        </li>
                        <li @Click="irParaUsuarios" style="border-top: none;" v-if="usuarioLogado.funcao == 1">
                            <i class="material-icons">account_circle</i>
                            Usuários
                        </li>
                    </ul>
                </div>
                <ul class="user-info-mobile" v-if="userInfoMobile">
                    <li><i class="large material-icons close-mobile" @Click="userInfoMobile = false">close</i></li>
                    <li class="flex-column center">
                        <div class="avatar-usuario-mobile">
                            <img :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário" width="60" height="60">
                        </div>
                        {{usuarioLogado.nome}}
                        <small>{{usuarioLogado.email}}</small>
                    </li>
                    <li @Click="saindo = true" class="sair-mobile">Sair</li>
                </ul>
            </nav>

            <div class="flex-column center" v-if="salas.length == 0">
                <h3 class="msg-vazias">Ainda não há salas cadastradas</h3>
            </div>

            <div class="flex center" style="padding-top: 20px;" v-if="usuarioLogado.funcao == 1">
                <div class="add-button" @Click="irParaNovaSala">
                    <i class="material-icons">add</i>
                </div>
            </div>

            <div class="container" v-if="usuarioLogado.funcao == 1">
                <button class="add-button-mx" @Click="irParaNovaSala">
                    <i class="material-icons">add</i>
                    Adicionar Sala
                </button>
            </div>

            <div class="container">
                <div v-if="apiErros.length > 0" class="col-12 alert-danger" v-for="erro in apiErros" style="margin-top: 20px; width: 100%;">
                    <i class="material-icons">warning</i>
                    {{erro}}
                </div>
                
                <table class="tabela" v-if="salas.length > 0">
                    <thead>
                        <tr>
                            <th v-if="usuarioLogado.funcao == 1">Ações</th>
                            <th>Número</th>
                            <th>Bloco</th>
                            <th>Apelido</th>
                            <th>Descrição</th>
                            <th>Capacidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="sala in salas">
                            <td class="table-actions" v-if="usuarioLogado.funcao == 1">
                                <i class="material-icons edit" @Click="irParaEditarSala(sala.id)">edit</i>
                                <i class="material-icons delete" @Click="deletandoSala(sala.id)">delete</i>
                            </td>
                            <td>{{sala.numero}}</td>
                            <td>{{sala.bloco}}</td>
                            <td>{{sala.apelido}}</td>
                            <td>{{sala.descricao_tipo}}</td>
                            <td>{{sala.capacidade}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="sala-mobile" v-for="sala in salas">
                    <h3>Sala {{sala.numero}}</h3>
                    <hr style="margin: 10px 0px;">
                    <div class="flex between">
                        <small>{{sala.apelido}}</small>
                        <small>{{sala.descricao_tipo}}</small>
                    </div>
                    <div class="flex between">
                        <small>Bloco {{sala.bloco}}</small>
                        <small>Capacidade {{sala.capacidade}}</small>
                    </div>
                    <div class="flex between">
                        <small>
                            Criada {{new Date(sala.createdAt).toLocaleDateString('pt-BR')}}
                        </small>
                        <small>
                            <div v-if="
                                !(sala.createdAt == sala.updatedAt)
                            ">
                                Atualizada {{new Date(sala.updatedAt).toLocaleDateString('pt-BR')}}
                            </div>
                            <div v-else>
                                Sem Atualizações
                            </div>
                        </small>
                    </div>
                    <div class="sala-actions-mobile">
                        <i class="material-icons edit" @Click="irParaEditarSala(sala.id)">edit</i>
                        <i class="material-icons delete" @Click="deletandoSala(sala.id)">delete</i>
                    </div>
                </div>
            </div>

            <div class="modal" v-if="saindo">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que deseja sair?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="saindo = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarSaida">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" v-if="deletando">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que quer deletar essa sala?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="deletandoSala">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarDelete">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    api_url: api_url,
                    usuarioLogado: null,
                    menuMobile: true,
                    userInfoMobile: false,
                    saindo: false,
                    deletando: false,
                    salas: [],
                    apiErro: false,
                    apiErros: []
                },
                async created() {
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }

                    let responseAPI = await fetch(`${api_url}/salas`, {
                        method: 'get',
                        headers: api_header,
                        mode: 'cors'
                    });

                    let resJson = await responseAPI.json();

                    if(responseAPI.status == 200) {
                        this.salas = resJson;
                    } else {
                        this.apiErro = true;
                        this.apiErros.push(resJson);
                    }
                },
                methods: {
                    confirmarSaida() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    irParaTurmas() {
                        window.location = '/turmas/relatorio_turmas.html';
                    },
                    irParaSalas() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio_usuarios.html';
                    },
                    irParaNovaSala() {
                        window.location = '/salas/nova_sala.html';
                    },
                    irParaEditarSala(id) {
                        localStorage.setItem('id_sala', id);
                        window.location = '/salas/editar_sala.html';
                    },
                    deletandoSala(id) {
                        localStorage.setItem('id_sala', id);
                        if(this.deletando) {
                            this.deletando = false;
                        } else {
                            this.deletando = true;
                        }
                    },
                    async confirmarDelete() {
                        let id = JSON.parse(localStorage.getItem('id_sala'));
                        let responseAPI = await fetch(`${api_url}/salas`, {
                            method: 'delete',
                            headers: api_header,
                            mode: 'cors',
                            body: JSON.stringify({id: id})
                        });

                        let resJson = await responseAPI.json();

                        if(responseAPI.status == 200) {
                            localStorage.removeItem('id_sala');
                            window.location.reload();
                        } else {
                            this.apiErro = true;
                            this.deletando = false;
                            this.apiErros.push(resJson.error);
                        }
                    }
                }
            });
        </script>
    </body>
</html>