<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/simple-grid.min.css">
        <link rel="icon" type="image/x-icon" href="/assets/SA-LogoSite.png">
        <link href="/assets/SA-LogoSite.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="container flex between">
                    <div class="menu-icon">
                        <svg v-if="menuMobile" @Click="menuMobile = false" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg v-if="!menuMobile" @Click="menuMobile = true" width="40" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="menu-esquerdo">
                        <div class="logo-menu">
                            <img @Click="irParaHome" src="/assets/SA-LogoSite.png" width="70" />
                        </div>
                        <ul class="menu-items">
                            <li @Click="irParaSalas">Salas</li>
                            <li @Click="irParaTurmas">Turmas</li>
                            <li @Click="irParaUsuarios" v-if="usuarioLogado.funcao == 1">Usuários</li>
                        </ul>
                    </div>
                    <div class="menu-direito">
                        <div class="avatar-usuario">
                            <img @Click="userInfoMobile = true" :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário">
                        </div>
                        <ul class="usuario-menu">
                            <li>{{usuarioLogado.nome}}</li>
                            <li @Click="saindo = true" class="delete">Sair</li>
                        </ul>
                    </div>
                </div>
                <div class="container" v-if="!menuMobile">
                    <ul class="menu-items-mobile">
                        <li @Click="irParaSalas" style="border-top: none;">
                            <i class="material-icons">meeting_room</i>
                            Salas
                        </li>
                        <li @Click="irParaTurmas" style="border-top: none;">
                            <i class="material-icons">groups</i>
                            Turmas
                        </li>
                        <li @Click="irParaUsuarios" style="border-top: none;" v-if="usuarioLogado.funcao == 1">
                            <i class="material-icons">account_circle</i>
                            Usuários
                        </li>
                    </ul>
                </div>
                <ul class="user-info-mobile" v-if="userInfoMobile">
                    <li><i class="large material-icons close-mobile" @Click="userInfoMobile = false">close</i></li>
                    <li class="flex-column center">
                        <div class="avatar-usuario-mobile">
                            <img :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário" width="60" height="60">
                        </div>
                        {{usuarioLogado.nome}}
                        <small>{{usuarioLogado.email}}</small>
                        <a class="link-perfil" @Click="irParaVerPerfil">Visualizar Perfil</a>
                    </li>
                    <li @Click="saindo = true" class="sair-mobile">Sair</li>
                </ul>
            </nav>

            <div class="flex-column center" v-if="emptyUsers">
                <h3 class="msg-vazias">Ainda não há usuários cadastrados</h3>
            </div>

            <div class="flex center" style="padding-top: 20px;">
                <div class="add-button" @Click="irParaNovoUsuario">
                    <i class="material-icons">add</i>
                </div>
            </div>

            <div class="container">
                <button class="add-button-mx" @Click="irParaNovoUsuario">
                    <i class="material-icons">add</i>
                    Adicionar Usuário
                </button>
            </div>

            <div class="container">
                <div class="flex-column">
                    <input
                        style="margin-top: 10px;"
                        type="text"
                        v-model="name"
                        placeholder="Buscar usuário"
                        @Input="filtrar" 
                    >
                    <button class="btn btn-primary" style="margin-top: 10px;" @Click="filtrar">Buscar Usuario</button>
                </div>
            </div>

            <div class="loading-filter" v-if="carregando">
                <div class="flex center">
                    <img src="/assets/loading.gif" style="margin: 10px;" width="50px">
                    Carregando...
                </div>
            </div>

            <div class="container">
                <div class="alert-warning" v-if="apiErro">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                    <h5 v-for="erro in apiErros">{{erro}}</h5>
                </div>

                <div class="usuarios">
                    <div class="usuario" v-for="usuario in usuarios">
                        <div class="usuario-header">
                            <div class="item-usuario">
                                <img :src="`${api_url}/uploads/${usuario.avatar}`" alt="usuario.nome">
                            </div>
                            <h4>{{usuario.nome}}</h4>
                        </div>
                        <details>
                            <summary>Mais Informações</summary>
                            <div class="flex-column">
                                <div class="flex between">
                                    <small>{{new Date(usuario.dt_nascimento).toLocaleDateString('pt-BR')}}</small>
                                    <small>{{new Date(Date.now()).getFullYear() - new Date(usuario.dt_nascimento).getFullYear()}} anos</small>
                                </div>
                                <div class="flex-column center">
                                    <small>{{usuario.email}}</small>
                                    <small>{{usuario.cpf}}</small>
                                    <small>
                                        Criado {{new Date(usuario.createdAt).toLocaleDateString('pt-BR')}}
                                        às {{new Date(usuario.createdAt).toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'})}}
                                    </small>
                                    <small v-if="usuario.createdAt != usuario.updatedAt">
                                        Atualizado {{new Date(usuario.updatedAt).toLocaleDateString('pt-BR')}}
                                        às {{new Date(usuario.updatedAt).toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'})}}
                                    </small>
                                    <small v-else>
                                        <small>Sem atualizações</small>
                                    </small>
                                    <div class="flex evenly usuario-actions">
                                        <i class="material-icons edit" @Click="irParaEditarUsuario(usuario.id)">edit</i>
                                        <i class="material-icons delete" @Click="deletandoUsuario(usuario.id)">delete</i>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="usuario-mobile" v-for="usuario in usuarios">
                    <div class="usuario-header-mobile">
                        <div class="avatar-usuario-reserva">
                            <img :src="`${api_url}/uploads/${usuario.avatar}`">
                        </div>
                        <div class="flex between" style="width: 100%;">
                            <h4>{{usuario.nome}}</h4>
                            <a class="ativo" v-if="usuario.situacao == 1"></a>
                            <a class="inativo" v-if="usuario.situacao == 2"></a>
                        </div>
                    </div>
                    <div class="flex between">
                        <strong>
                            <small>
                                Nascido em {{new Date(usuario.dt_nascimento).toLocaleDateString('pt-BR')}}
                            </small>
                        </strong>
                        <strong>
                            <small>{{
                                new Date(Date.now()).getFullYear() - new Date(usuario.dt_nascimento).getFullYear()    
                                }} anos
                            </small>
                        </strong>
                    </div>
                    <div class="flex between">
                        <strong>
                            <small>
                                CPF {{usuario.cpf}}
                            </small>
                        </strong>
                        <strong>
                            <small>
                                {{usuario.email}}
                            </small>
                        </strong>
                    </div>
                    <div class="flex between">
                        <strong>
                            <small>
                                Críado em {{new Date(usuario.createdAt).toLocaleDateString('pt-BR')}}
                            </small>
                        </strong>
                        <strong>
                            <small v-if="usuario.createdAt != usuario.updatedAt">
                                Atualizado em {{new Date(usuario.updatedAt).toLocaleDateString('pt-BR')}}
                            </small>
                            <small v-else>Sem Atualizações</small>
                        </strong>
                    </div>
                    <div class="flex evenly usuario-actions-mobile">
                        <i class="material-icons edit" @Click="irParaEditarUsuario(usuario.id)">edit</i>
                        <i class="material-icons delete" @Click="deletandoUsuario(usuario.id)">delete</i>
                    </div>
                </div>
            </div>

            <div class="modal" v-if="saindo">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que deseja sair?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="saindo = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarSaida">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" v-if="deletando">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que quer deletar este usuário?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="deletandoUsuario">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarDelete">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" v-if="naoautorizado">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Você não tem permissão de acessar aqui!</p>
                </div>
            </div>
            <div class="modal" v-if="tokenexpirou">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Seu token expirou, redirecionando para página de login...</p>
                </div>
            </div>
        </div>

        <script src="/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    naoautorizado: false,
                    tokenexpirou: false,
                    api_url: api_url,
                    usuarioLogado: null,
                    menuMobile: true,
                    userInfoMobile: false,
                    saindo: false,
                    deletando: false,
                    name: '',
                    carregando: false,
                    emptyUsers: false,
                    emptyUsersFilter: false,
                    usuarios: null,
                    filtroErros: [],
                    apiErro: false,
                    apiErros: []
                },
                async created() {
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }

                    let responseAPI = await fetch(`${api_url}/usuarios`, {
                        method: 'get',
                        headers: {...api_header, 'Authorization': `Bearer ${this.usuarioLogado.token}`},
                        mode: 'cors'
                    });

                    let resJson = await responseAPI.json();

                    if(responseAPI.status == 401) {
                        this.naoautorizado = true;
                        setTimeout(() => {
                            window.location = '/home.html';
                        }, 3000);
                    }

                    if(responseAPI.status == 406) {
                        this.tokenexpirou = true;
                        setTimeout(() => {
                            window.location = '/index.html';
                        }, 3000);
                    }

                    if(responseAPI.status == 200) {
                        if(resJson.length > 0) {
                            this.emptyUsers = false;
                            this.usuarios = resJson;
                        } else {
                            this.emptyUsers = true;
                        }
                    }
                },
                methods: {
                    confirmarSaida() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    irParaTurmas() {
                        window.location = '/turmas/relatorio_turmas.html';
                    },
                    irParaSalas() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio_usuarios.html';
                    },
                    irParaNovoUsuario() {
                        window.location = '/usuarios/novo_usuario.html';
                    },
                    irParaEditarUsuario(id) {
                        localStorage.setItem('id_usuario', id);
                        window.location = '/usuarios/editar_usuario.html';
                    },
                    deletandoUsuario(id) {
                        localStorage.setItem('id_delete', id);
                        if(this.deletando) {
                            this.deletando = false;
                        } else {
                            this.deletando = true;
                        }
                    },
                    irParaHome() {
                        window.location = '/home.html';
                    },
                    irParaVerPerfil() {
                        window.location = '/usuarios/perfil.html';
                    },
                    async filtrar() {
                        this.carregando = true;
                    
                        let responseAPI = await fetch(`${api_url}/usuarios/filtro`, {
                            method: 'POST',
                            headers: api_header,
                            mode: 'cors',
                            body: JSON.stringify({name: this.name})
                        });

                        let resJson = await responseAPI.json();

                        if(responseAPI.status === 200) {
                            this.usuarios = resJson;
                            this.carregando = false;
                        } else {
                            this.carregando = false;
                            this.emptyUsersFilter = true;
                        }
                    },
                    async confirmarDelete() {
                        let id = JSON.parse(localStorage.getItem('id_delete'));
                        let responseAPI = await fetch(`${api_url}/usuarios`, {
                            method: 'delete',
                            headers: api_header,
                            mode: 'cors',
                            body: JSON.stringify({id: id})
                        });

                        let resJson = await responseAPI.json();

                        if(responseAPI.status == 200) {
                            localStorage.removeItem('id_delete');
                            window.location.reload();
                        }
                    }
                }
            });
        </script>
    </body>
</html>