<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="container">
                    <h1>Navium</h1>
                </div>
            </header>

            <div class="container content">
                <div class="form-editar">
                    <input type="hidden" v-model="user.id">
                    <label>Nome</label>
                    <input type="text" name="nome" id="nome" v-model="user.nome">
                    <label>CPF</label>
                    <input type="text" name="cpf" id="cpf" v-model="user.cpf">
                    <label>Data de Nascimento</label>
                    <input type="date" name="data_nascimento" id="data_nascimento" v-model="user.data_nascimento">
                    <label>Sexo</label>
                    <select v-model="user.sexo">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outro</option>
                    </select>
                    <label>Email</label>
                    <input type="email" name="email" id="email" v-model="user.email">
                    <label>Situação</label>
                    <select v-model="user.situacao">
                        <option value="1">Ativo</option>
                        <option value="2">Inativo</option>
                    </select>
                    <label>Função</label>
                    <select v-model="user.funcao">
                        <option value="1">Administrador</option>
                        <option value="2">Aluno</option>
                        <option value="3">Professor</option>
                    </select>
                    <button @Click="editar">Editar</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    user: {
                        id: '',
                        nome: '',
                        cpf: '',
                        data_nascimento: '',
                        sexo: '',
                        email: '',
                        situacao: '',
                        funcao: ''
                    }
                },
                created() {
                    let userId = localStorage.getItem('userId');
                    fetch('http://localhost:3000/api/usuarios/' + userId, {
                        method: 'get',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        mode: 'cors'
                    })
                    .then(res => {
                        return res.json();
                    })
                    .then(data => {
                        let user = {
                            id: userId,
                            nome: data[0].nome,
                            cpf: data[0].cpf,
                            data_nascimento: new Date(data[0].dt_nascimento).toISOString().substring(10, 0),
                            sexo: data[0].sexo,
                            email: data[0].email,
                            situacao: data[0].situacao,
                            funcao: data[0].funcao,
                        }

                        this.user = user;
                    });
                },
                methods: {
                    async editar() {
                        let responseApi = await fetch('http://localhost:3000/api/usuarios', {
                            method: 'put',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            mode: 'cors',
                            body: JSON.stringify(this.user)
                        });

                        let resJson = await responseApi.json();

                        if(!resJson.ok) {
                            alert(resJson);
                            return;
                        }

                        window.location = 'usuarios.html';
                    }
                }
            });
        </script>
    </body>
</html>