<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="container">
                    <h1>Navium</h1>
                </div>
            </header>

            <div class="container content">
                <div class="form-editar">
                    <div class="errors" v-if="hasError">
                        {{this.error}}
                    </div>
                    <input type="hidden" v-model="user.id">
                    <label>Nome</label>
                    <input type="text" name="nome" id="nome" v-model="user.nome">
                    <label>CPF</label>
                    <input type="text" name="cpf" id="cpf" v-model="user.cpf">
                    <label>Data de Nascimento</label>
                    <input type="date" name="data_nascimento" id="data_nascimento" v-model="user.data_nascimento">
                    <label>Sexo</label>
                    <select v-model="user.sexo">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                        <option value="3">Outro</option>
                    </select>
                    <label>Email</label>
                    <input type="email" name="email" id="email" v-model="user.email">
                    <label>Situação</label>
                    <select v-model="user.situacao">
                        <option value="1">Ativo</option>
                        <option value="2">Inativo</option>
                    </select>
                    <label>Função</label>
                    <select v-model="user.funcao">
                        <option value="1">Administrador</option>
                        <option value="2">Aluno</option>
                        <option value="3">Professor</option>
                    </select>
                    <button @Click="editar">{{this.editing}}</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    loggedUser: null,
                    hasError: false,
                    isEditing: false,
                    editing: 'Editar',
                    user: {
                        id: '',
                        nome: '',
                        cpf: '',
                        data_nascimento: '',
                        sexo: '',
                        email: '',
                        situacao: '',
                        funcao: ''
                    }
                },
                created() {
                    this.loggedUser = JSON.parse(localStorage.getItem('loggedUser'));
                    if(!this.loggedUser) {
                        window.location = 'login.html';
                    }
                    let userId = localStorage.getItem('userId');
                    let users = JSON.parse(localStorage.getItem('usuarios'));
                    let user = users.indexOf(users.find(user => user.id == userId));
                    
                    let userView = {
                        id: userId,
                        nome: users[user].nome,
                        cpf: users[user].cpf,
                        data_nascimento: new Date(users[user].dt_nascimento).toISOString().substring(10, 0),
                        sexo: users[user].sexo,
                        email: users[user].email,
                        situacao: users[user].situacao,
                        funcao: users[user].funcao,
                    };

                    this.user = userView;
                },
                methods: {
                    async editar() {
                        this.isEditing = true;
                        this.editing = 'Atualizando informações...';
                        let responseApi = await fetch('http://localhost:3000/api/usuarios', {
                            method: 'put',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            mode: 'cors',
                            body: JSON.stringify(this.user)
                        });

                        let resJson = await responseApi.json();

                        if(!responseApi.ok) {
                            this.hasError = true;
                            this.isEditing = false;
                            this.editing = 'Entrar';
                            return;
                        }

                        let users = JSON.parse(localStorage.getItem('usuarios'));
                        let user = users.indexOf(users.find(user => user.id == this.user.id));

                        users[user].nome = this.user.nome;
                        users[user].cpf = this.user.cpf;
                        users[user].dt_nascimento = this.user.data_nascimento;
                        users[user].sexo = this.user.sexo;
                        users[user].email = this.user.email;
                        users[user].situacao = this.user.situacao;
                        users[user].funcao = this.user.funcao;

                        localStorage.removeItem('usuarios');
                        localStorage.setItem('usuarios', JSON.stringify(users));

                        window.location = 'usuarios.html';
                    }
                }
            });
        </script>
    </body>
</html>