<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <div class="modal-logout" v-if="saindo" @Click="saindo = false">
                <div class="modal-msg">
                    <div class="warning-icon">
                        <i class="material-icons">warning</i>
                    </div>
                    <p>Opa, você pediu pra sair, tem certeza disso?</p>
                    <div class="modal-actions">
                        <button @Click="saindo = false">Cancelar</button>
                        <button class="confirm-logout" @Click="confirmaLogout">
                            <i class="material-icons">logout</i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
            <nav>
                <div class="nav-normal flex items-center justify-between container">
                    <svg v-if="!showMenuMobile" @Click="showingMenuMobile" xmlns="http://www.w3.org/2000/svg" class="menu-mobile-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>

                    <svg v-if="showMenuMobile" @Click="showingMenuMobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="menu-mobile-icon-close" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    
                    <div class="flex items-center">
                        <div class="nav-logo-img">
                            <img src="/assets/SA-LogoSite.png" alt="Logo do Site" width="100">
                        </div>
                        <div class="nav-menu-items">
                            <a>Home</a>
                            <a>Salas</a>
                            <a>Turmas</a>
                            <a @Click="irParaUsuarios">Usuários</a>                        
                        </div>
                    </div>
                    <div class="nav-user-options flex items-center">
                        <div class="nav-info-user-img mr-10" :title="usuarioLogado.nome">
                            <figure>
                                <img
                                    :src="`http://localhost:3000/api/uploads/${usuarioLogado.avatar}`"
                                >
                            </figure>
                        </div>
                        <div class="nav-menu-user-data flex flex-col">
                            <span>{{usuarioLogado.nome}}</span> 
                        </div>
                        <ul>
                            <li class="li-user-data">
                                <img :src="`http://localhost:3000/api/uploads/${usuarioLogado.avatar}`" width="50">
                                <p>{{usuarioLogado.nome}}</p>
                                <a>{{usuarioLogado.email}}</a>
                            </li>
                            <li>Suas Informações</li>
                            <li @Click="logout">Sair</li>
                        </ul>
                    </div>
                </div>
                <div v-if="showMenuMobile" class="nav-menu-items-mobile">
                    <a>Home</a>
                    <a>Salas</a>
                    <a>Turmas</a>
                    <a @Click="irParaUsuarios">Usuários</a>                        
                </div>
            </nav>
            <div class="container">
                <div class="empty-content" v-if="reservas.length == 0">
                    <h3>Nenhuma reserva cadastrada ainda</h3>
                </div>
                <div class="flex align-center justify-center">
                    <button class="add-content">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <div v-if="reservas.length > 0">
                    <h2>Reservas</h2>

                    <div class="reserva">
                        <div class="res-user-data">
                            <div class="flex items-center">
                                <img :src="`http://localhost:3000/api/uploads/${usuarioLogado.avatar}`" width="30" alt="Imagem do Professor">
                                <a>{{usuarioLogado.nome}}</a>
                            </div>
                            <div class="flex items-center">
                                20/04 as 14:30
                            </div>
                        </div>
                        <div class="res-data flex items-center justify-between">
                            <h3>Sala 509</h3>
                            <p>Turma AINFO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    showUserOptions: false,
                    saindo: false,
                    showMenuMobile: false,
                    usuarioLogado: null,
                    reservas: [],
                    isInMenu: false
                },
                created() {
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }
                },
                methods: {
                    logout() {
                        this.saindo = true;
                    },
                    confirmaLogout() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    showingMenuMobile() {
                        if(this.showMenuMobile) {
                            this.showMenuMobile = false;
                        } else {
                            this.showMenuMobile = true;
                        }
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio.html';
                    }
                }
            });
        </script>
    </body>
</html>