<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/simple-grid.min.css">
        <link rel="icon" type="image/x-icon" href="/assets/SA-LogoSite.png">
        <link href="/assets/SA-LogoSite.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="container flex between">
                    <div class="menu-icon">
                        <svg v-if="menuMobile" @Click="menuMobile = false" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg v-if="!menuMobile" @Click="menuMobile = true" width="40" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="menu-esquerdo">
                        <div class="logo-menu">
                            <img @Click="irParaHome" src="/assets/SA-LogoSite.png" width="70" />
                        </div>
                        <ul class="menu-items">
                            <li @Click="irParaSalas">Salas</li>
                            <li @Click="irParaTurmas">Turmas</li>
                            <li @Click="irParaUsuarios" v-if="usuarioLogado.funcao == 1">Usuários</li>
                        </ul>
                    </div>
                    <div class="menu-direito">
                        <div class="avatar-usuario">
                            <img @Click="userInfoMobile = true" :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário">
                        </div>
                        <ul class="usuario-menu">
                            <li @Click="irParaVerPerfil()">{{usuarioLogado.nome}}</li>
                            <li @Click="saindo = true" class="delete">Sair</li>
                        </ul>
                    </div>
                </div>
                <div class="container" v-if="!menuMobile">
                    <ul class="menu-items-mobile">
                        <li @Click="irParaSalas" style="border-top: none;">
                            <i class="material-icons">meeting_room</i>
                            Salas
                        </li>
                        <li @Click="irParaTurmas" style="border-top: none;">
                            <i class="material-icons">groups</i>
                            Turmas
                        </li>
                        <li @Click="irParaUsuarios" style="border-top: none;" v-if="usuarioLogado.funcao == 1">
                            <i class="material-icons">account_circle</i>
                            Usuários
                        </li>
                    </ul>
                </div>
                <ul class="user-info-mobile" v-if="userInfoMobile">
                    <li><i class="large material-icons close-mobile" @Click="userInfoMobile = false">close</i></li>
                    <li class="flex-column center">
                        <div class="avatar-usuario-mobile">
                            <img :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário" width="60" height="60">
                        </div>
                        {{usuarioLogado.nome}}
                        <small>{{usuarioLogado.email}}</small>
                        <a class="link-perfil" @Click="irParaVerPerfil">Visualizar Perfil</a>
                    </li>
                    <li @Click="saindo = true" class="sair-mobile">Sair</li>
                </ul>
            </nav>

            <div class="flex center" style="padding-top: 20px;">
                <div class="add-button" @Click="irParaNovaReserva">
                    <i class="material-icons">add</i>
                </div>
            </div>

            <div class="container">
                <div class="alert-warning" v-if="apiErro">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                    <h5 v-for="erro in apiErros">{{erro}}</h5>
                </div>

                <div class="filtro">
                    <label>Filtro por data</label><br>
                    <input type="date" v-model="dt_filter" @Change="filtrar">
                </div>
                <br><hr><br>
                <button class="add-button-mx" @Click="irParaNovaReserva">
                    <i class="material-icons">add</i>
                    Adicionar Reserva
                </button>

                <div class="loading-filter" v-if="carregando">
                    <div class="flex center">
                        <img src="/assets/loading.gif" style="margin: 10px;" width="50px">
                        Carregando...
                    </div>
                </div>

                <h4 v-if="reservas.length > 0" style="margin-top: 20px;">Reservas para o dia {{new Date(dt_filter).toLocaleDateString('pt-BR')}}</h4>

                <div class="reservas">
                    <div class="reserva" v-for="reserva in reservas">
                        <div class="reserva-header flex between">
                            <h4>{{reserva.sala}}</h4>
                            <div class="flex between">
                                <div class="avatar-usuario">
                                    <img
                                        :src="`${api_url}/uploads/${reserva.avatar}`"
                                        :title="reserva.usuario"
                                        :alt="reserva.usuario"
                                    >
                                </div>
                                <a style="margin-left: 10px;">{{reserva.usuario.split(' ')[0]}}</a>
                            </div>
                        </div>
                        <div class="reserva-body flex-column">
                            <div class="flex between">
                                <a>Periodo {{reserva.periodo}}</a>
                                <a>Turma {{reserva.turma}}</a>
                            </div>
                            <a>{{reserva.justificativa}}</a>
                        </div>
                        <div class="reserva-footer" v-if="reserva.id_usuario == usuarioLogado.id || usuarioLogado.funcao == 1">
                            <i class="material-icons edit" @Click="editarReserva(reserva.id)">edit</i>
                            <i class="material-icons delete" @Click="deletandoReserva(reserva.id)">delete</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-column center" v-if="reservas.length == 0">
                <h3 class="msg-vazias">Ainda não há reservas cadastradas</h3>
            </div>

            <div class="modal" v-if="saindo">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que deseja sair?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="saindo = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarSaida">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" v-if="deletando">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que quer deletar essa reserva?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="deletando = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarDelete">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    api_url: api_url,
                    usuarioLogado: null,
                    menuMobile: true,
                    userInfoMobile: false,
                    saindo: false,
                    apiErro: false,
                    carregando: false,
                    deletando: false,
                    dt_filter: new Date(Date.now()).toISOString().substring(0, 10),
                    apiErros: [],
                    reservas: []
                },
                async created() {
                    this.carregando = true;
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }

                    let responseAPI = await fetch(`${api_url}/reservas/dia/${new Date(Date.now()).toISOString().substring(0, 10)}`, {
                        method: 'get',
                        headers: api_header,
                        mode: 'cors'
                    });

                    let resJson = await responseAPI.json();

                    if(responseAPI.status == 200) {
                        this.carregando = false;
                        this.reservas = resJson;
                    } else {
                        this.apiErro = true;
                        this.apiErros.push(resJson.error);
                        setTimeout(() => {
                            this.apiErro = false;
                            this.apiErros = [];
                        }, 3000);
                    }
                },
                methods: {
                    confirmarSaida() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    irParaTurmas() {
                        window.location = '/turmas/relatorio_turmas.html';
                    },
                    irParaSalas() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio_usuarios.html';
                    },
                    irParaNovaReserva() {
                        window.location = '/reservas/nova_reserva.html';
                    },
                    irParaVerPerfil() {
                        window.location = '/usuarios/perfil.html';
                    },
                    irParaHome() {
                        window.location = '/home.html';
                    },
                    deletandoReserva(id) {
                        localStorage.setItem('id_delete', id);
                        if(this.deletando) {
                            this.deletando = false;
                        } else {
                            this.deletando = true;
                        }
                    },
                    async confirmarDelete() {
                        let id = JSON.parse(localStorage.getItem('id_delete'));
                        let responseAPI = await fetch(`${api_url}/reservas/${id}`, {
                            method: 'DELETE',
                            headers: api_header,
                            mode: 'cors'
                        });

                        let resJson = await responseAPI.json();

                        if(responseAPI.status == 200) {
                            window.location = '/home.html';
                        } else {
                            this.apiErro = true;
                            this.apiErros.push(resJson);
                        }
                    },
                    editarReserva(id) {
                        localStorage.setItem('id_reserva', id);
                        window.location = '/reservas/editar_reserva.html';
                    },
                    async filtrar() {
                        this.carregando = true;
                        let responseAPI = await fetch(`${api_url}/reservas/dia/${this.dt_filter}`, {
                            method: 'GET',
                            headers: api_header,
                            mode: 'cors'
                        });

                        let resJson = await responseAPI.json();

                        if(responseAPI.status == 200) {
                            this.carregando = false;
                            this.reservas = resJson;
                        } else {
                            this.carregando = false;
                            this.apiErro = true;
                            this.apiErros.push(resJson);
                            setTimeout(() => {
                                this.apiErro = false;
                                this.apiErros = [];
                            }, 3000);
                        }
                    }
                }
            });
        </script>
    </body>
</html>