* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    box-shadow: 0px 0px 3px black;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    font-size: 30px;
}

.erros-login {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 59, 59);
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

.erros-login a {
    padding: 10px;
    display: flex;
    align-items: center;
}

.erros-login a i {
    margin-right: 10px;
}

.content {
    padding: 10px;
}

.form-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.form img {
    margin-bottom: 20px;
}

.form {
    padding: 20px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form p {
    margin: 20px 0px;
}

.form-control {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form-control input {
    width: 500px;
    padding: 10px;
    border: none;
    outline: none;
}

.form-control input[type="email"] {
    border: 1px solid #E3E3E3;
}

.form-control input[type="password"] {
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.form button {
    outline: none;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #2962ff;
    color: white;
    font-weight: bold;
}

.form button img {
    margin-right: 8px;
    margin-bottom: 0;
}

.form button:hover {
    background-color: #1e4ed3;
    cursor: pointer;
}

.nav-logo-img {
    margin-right: 20px;
}

.nav-menu-items a {
    padding: 10px;
}

.nav-menu-items a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-info-user-img {
    width: 50px;
    height: 50px;
}

.nav-info-user-img figure {
    width: 100%;
    height: 100%;
}

.nav-info-user-img figure img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.mt-1 {
    margin-top: 1px;
}

.mb-1 {
    margin-bottom: 1px;
}

.ml-1 {
    margin-left: 1px;
}

.mr-1 {
    margin-right: 1px;
}

.mr-10 {
    margin-right: 10px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.menu-mobile-icon {
    width: 50px;
    display: none;
}

.menu-mobile-icon-close {
    width: 50px;
}

.menu-mobile-icon-close:hover {
    cursor: pointer;
}

.nav-menu-items-mobile {
    display: none;
}

.menu-mobile-icon:hover {
    cursor: pointer;
}

.nav-user-options:hover {
    display: flex;
}

.nav-user-options:hover ul {
    display: block;
    position: fixed;
    margin-top: 140px;
}

.nav-user-options ul{
    width: 300px;
    display: none;
    list-style: none;
    border: 1px solid #E3E3E3;
    background-color: #FFF;
}

.nav-user-options ul li {
    padding: 10px;
    text-align: center;
}

.nav-user-options ul li:hover {
    cursor: pointer;
    background-color: #E3E3E3
}

.li-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.li-user-data img {
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px black;
}

.empty-content {
    margin: 20px 0px;
    text-align: center;
}

.add-content {
    background-color: #2962ff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 20px 0px;
}

.add-content:hover {
    background-color: #1e4ed3;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.modal-msg p {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
}

.modal-msg i {
    color: white;
}

.modal-actions {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-actions button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.modal-actions button:hover {
    box-shadow: 0px 0px 3px black;
    transition: 0.3s;
    cursor: pointer;
}

.confirm-logout {
    margin-top: 10px;
    background-color: rgb(255, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.confirm-logout i {
    margin-right: 10px;
    font-size: 16px;
}
.confirm-delete {
    margin-top: 10px;
    background-color: rgb(255, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.confirm-delete i {
    margin-right: 10px;
    font-size: 16px;
}

.warning-icon {
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(255, 59, 59);
    margin-bottom: 10px;
}

.user-status-on {
    padding: 7px;
    border-radius: 50%;
    background-color: green;
    width: max-content;
    height: max-content;
}

.user-status-off {
    padding: 7px;
    border-radius: 50%;
    background-color: red;
    width: max-content;
    height: max-content;
}

.view {
    color: #9ccc65;
}

.edit {
    color: #ffee58;
}

.delete {
    color: #ff7043
}

.view:hover {
    cursor: pointer;
    background-color: #9ccc65;
    color: #FFF;
    border-radius: 50%;
}

.edit:hover {
    cursor: pointer;
    background-color: #ffee58;
    color: #FFF;
    border-radius: 50%;
}

.delete:hover {
    cursor: pointer;
    background-color: #ff7043;
    color: #FFF;
    border-radius: 50%;
}

.usuarios-tabela {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.usuarios-tabela th {
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
    border: 1px solid #333333;
    background-color: #333333;
}

.usuarios-tabela td {
    padding: 10px;
    border: 1px solid #E3E3E3;
    text-align: center;
}

.usuarios-tabela td i {
    padding: 10px;
}

@media (min-width: 1100px) {
    .usuario {
        display: none;
    }
}

@media (max-width: 1100px) {
    .usuarios-tabela {
        display: none;
    }

    .nav-menu-items {
        display: none;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu-user-data {
        display: none;
    }

    .nav-menu-items-mobile {
        border-top: 1px solid black;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .nav-menu-items-mobile a {
        padding: 10px;
    }

    .nav-menu-items-mobile a:hover {
        background-color: #E3E3E3;
        cursor: pointer;
    }

    .nav-user-options:hover {
        display: flex;
    }
    
    .nav-user-options:hover ul {
        display: block;
        position: fixed;
        right: 10px;
    }

    .nav-user-options ul li {
        padding: 10px;
        text-align: center;
    }

    .nav-user-options ul li:hover {
        cursor: pointer;
        background-color: #E3E3E3
    }

    .li-user-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .li-user-data img {
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px black;
    }

    .usuario {
        margin-top: 10px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #333333;
        color: white;
    }

    .usuario-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #E3E3E3;
    }

    .usuario-status {
        display: flex;
        align-items: center;
    }

    .usuario-data img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px black;
        margin-right: 10px;
    }

    .usuario-info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E3E3E3;
    }

    .usuario-actions {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .usuario-actions i {
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
    }

    
}

@media (max-width: 768px) {

    .usuarios-tabela {
        display: none;
    }

    .usuario {
        margin-top: 10px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #333333;
        color: white;
    }

    .usuario-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #E3E3E3;
    }

    .usuario-status {
        display: flex;
    }

    .usuario-data img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px black;
        margin-right: 10px;
    }

    .usuario-info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E3E3E3;
    }

    .usuario-actions {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .usuario-actions i {
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        padding: 10px;
        margin: 20px;
        width: 100%;
        border-radius: 10px;
    }

    .modal-msg p {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E3E3E3;
    }

    .modal-msg i {
        color: white;
    }

    .modal-actions {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .modal-actions button {
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
    }

    .modal-actions button:hover {
        box-shadow: 0px 0px 3px black;
        transition: 0.3s;
        cursor: pointer;
    }

    .confirm-logout {
        margin-top: 10px;
        background-color: rgb(255, 59, 59);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .confirm-logout i {
        margin-right: 10px;
        font-size: 16px;
    }

    .confirm-delete {
        margin-top: 10px;
        background-color: rgb(255, 59, 59);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .confirm-delete i {
        margin-right: 10px;
        font-size: 16px;
    }

    .warning-icon {
        border-radius: 50%;
        padding: 10px;
        background-color: rgb(255, 59, 59);
        margin-bottom: 10px;
    }

    .add-reserva {
        background-color: #2962ff;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 10px;
        margin: 20px 0px;
    }

    .add-reserva:hover {
        background-color: #1e4ed3;
        cursor: pointer;
    }

    .empty-reservas {
        text-align: center;
    }

    .reserva {
        padding: 10px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        margin-top: 20px;
    }

    .reserva:hover {
        box-shadow: 0px 0px 10px black;
        transition: 0.3s;
        cursor: pointer;
    }

    .res-user-data {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #E3E3E3;
    }

    .res-user-data img {
        border-radius: 50%;
        box-shadow: 0px 0px 3px black;
        margin-right: 10px;
    }

    .nav-user-options:hover {
        display: flex;
    }
    
    .nav-user-options:hover ul {
        display: block;
        position: fixed;
        right: 10px;
    }

    .nav-user-options ul li {
        padding: 10px;
        text-align: center;
    }

    .nav-user-options ul li:hover {
        cursor: pointer;
        background-color: #E3E3E3
    }

    .li-user-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .li-user-data img {
        margin-bottom: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px black;
    }

    .form-control input {
        width: 300px;
        padding: 10px;
    }

    .form button {
        padding: 10px;
    }

    .nav-normal {padding-bottom: 20px;}

    .nav-menu-items-mobile {
        border-top: 1px solid black;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .nav-menu-items-mobile a {
        padding: 10px;
    }

    .nav-menu-items-mobile a:hover {
        background-color: #E3E3E3;
        cursor: pointer;
    }

    .nav-menu-items {
        display: none;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu-user-data {
        display: none;
    }

    nav {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    nav .container {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 20px;
    }
}

