* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    padding: 30px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}


table th {
    border: 1px solid #E3E3E3;
    padding: 10px;
}

table td {
    border: 1px solid #E3E3E3;
    padding: 10px;
}

.empty-users {
    width: 100%;
    text-align: center;
}

.new-user {
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(255, 77, 77);
    color: white
}

.new-user:hover {
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.3;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: alpha(opacity = 100);
}

.warning h3 {
    height: 50%;
    border-bottom: 2px solid #E3E3E3;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: normal;
    font-size: 25px;
}

.warning div {
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.warning div span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.warning .confirm-logout {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
    border: none;
    font-size: 20px;
}

.warning .confirm-logout:hover {
    cursor: pointer;
    transition: 0.3;
    box-shadow: 0px 0px 3px black;
}

.container {
    width: 70%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.reservas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding-bottom: 0;
    font-size: 25px;
    width: 250px;
}

.menu-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    transition: .3;
}

.menu-item i {
    font-size: 40px;
}

.user-logged {
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    font-size: 18px;
    height: max-content;
}

.user-logged span {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    width: 100%;
    text-align: center;
}

.user-logged a {
    padding: 10px 5px;
    width: 100%;
    background-color: rgb(255, 77, 77);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.user-logged a:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}

.user-logged .funcao {
    border: none;
    margin: 0;
    padding-top: 0;
}

.img {
    width: 50px;
    height: 50px;
}

.img figure {
    width: 100%;
    height: 100%;
}

.img figure img {
    width: 100%;
    height: 100%;
}

.img-user {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px #E3E3E3;
    border-radius: 50%;
}

.img-user figure {
    width: 100%;
    height: 100%;
}

.img-user figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}

.reserva {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding-bottom: 0;
}

.reserva-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
}

.reserva-info span {
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
}

.info a {
    font-size: 18px;
    margin: 10px 0px;
}

.periodo {
    border-top: 1px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.periodo span {
    margin-bottom: 10px;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form input {
    margin-bottom: 10px;
    width: 350px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.form button {
    margin-top: 10px;
    font-size: 18px;
    padding: 3px
}

.form-editar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-editar label {
    font-size: 20px;
    margin-bottom: 5px;
}

.form-editar input {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.form-editar select {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.form-editar button {
    font-size: 20px;
    padding: 5px 0px;
}

.errors {
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(255, 77, 77);
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}