<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="container">
                    <h1>Navium</h1>
                </div>
            </header>

            
            <div class="modal" v-if="deleteUser">
                <div class="warning">
                    <h3>Deseja mesmo deletar essa informação?</h3>
                    <div class="modal-actions">
                        <span @Click="confirmDelete">Sim</span>
                        <button class="confirm-logout" @Click="cancelDelete">Não</button>
                    </div>
                </div>
            </div>
            
            <div class="container content">
                <h3 v-if="users.length < 1" class="empty-users">Nenhum usuário cadastrado</h3>
                <table v-if="users.length > 0">
                    <thead>
                        <th>Ações</th>
                        <th>Nome</th>
                        <th>Data Nascimento</th>
                        <th>Sexo</th>
                        <th>Email</th>
                        <th>Situação</th>
                        <th>Função</th>
                    </thead>
                    <tbody>
                        <tr v-for='user in users' :key="user.id">
                            <td style="text-align: center;">
                                <i class="material-icons" style="color: rgb(255, 204, 0)" @Click="editing(user.id)">edit</i>
                                <i class="material-icons" style="color: red;" @Click="deleteAction(user.id)">delete</i>
                            </td>
                            <td>{{user.nome}}</td>
                            <td>{{new Date(user.dt_nascimento).toLocaleDateString('pt-BR')}}</td>
                            <td>{{(user.sexo == 1) ? 'Masculino' : (user.sexo == 2) ? 'Feminino' : 'Outro'}}</td>
                            <td>{{user.email}}</td>
                            <td>{{(user.situacao == 1) ? 'Ativo' : 'Inativo'}}</td>
                            <td>{{(user.funcao == 1) ? 'Administrador' : (user.funcao == 2) ? 'Aluno' : 'Professor'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container content">
                <i class="material-icons new-user" title="Adicionar Novo Usuário" @Click="irParaNovoUsuario">add</i>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    loggedUser: null,
                    users: null,
                    deleteUser: false,
                    deleteId: null
                },
                created() {
                    this.loggedUser = JSON.parse(localStorage.getItem('loggedUser'));
                    if(!this.loggedUser) {
                        window.location = 'login.html';
                    }
                    let loggedUser = JSON.parse(localStorage.getItem('loggedUser'));
                    let users = JSON.parse(localStorage.getItem('usuarios'));
                    
                    if(!users || users.length < 1) {
                        fetch('http://localhost:3000/api/usuarios', {
                            method: 'get',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${loggedUser.token}`
                            },
                            mode: 'cors'
                        })
                        .then(res => {
                            return res.json();
                        })
                        .then(data => {
                            localStorage.setItem('usuarios', JSON.stringify(data));
                            this.users = JSON.parse(localStorage.getItem('usuarios'));
                        });
                    }

                    this.users = JSON.parse(localStorage.getItem('usuarios'));

                },
                methods: {
                    irParaNovoUsuario() {
                        window.location = 'novo_usuario.html';
                    },
                    editing(id) {
                        localStorage.setItem('userId', id);
                        window.location = 'editar_usuario.html';
                    },
                    deleteAction(id) {
                        this.deleteUser = true;
                        this.deleteId = id;
                    },
                    cancelDelete() {
                        this.deleteUser = false;
                    },
                    async confirmDelete() {
                        let responseApi = await fetch('http://localhost:3000/api/usuarios/' + this.deleteId, {
                            method: 'delete',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            mode: 'cors'
                        });

                        let resJson = await responseApi.json();

                        if(!responseApi.ok) {
                            alert('Erro ao deletar!');
                            return;
                        }

                        let users = JSON.parse(localStorage.getItem('usuarios'));
                        let user = users.indexOf(users.find(user => user.id == this.deleteId));

                        users.splice(user, 1);

                        localStorage.removeItem('usuarios');
                        localStorage.setItem('usuarios', JSON.stringify(users));
                    }
                }
            });
        </script>
    </body>
</html>