<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/simple-grid.min.css">
        <link href="/assets/SA-LogoSite.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Situação de Aprendizagem</title>
    </head>
    <body>
        <div id="app">
            <nav>
                <div class="container flex between">
                    <div class="menu-icon">
                        <svg v-if="menuMobile" @Click="menuMobile = false" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg v-if="!menuMobile" @Click="menuMobile = true" width="40" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="menu-esquerdo">
                        <div class="logo-menu">
                            <img src="/assets/SA-LogoSite.png" width="70" />
                        </div>
                        <ul class="menu-items">
                            <li @Click="irParaSalas">Salas</li>
                            <li @Click="irParaTurmas">Turmas</li>
                            <li @Click="irParaUsuarios" v-if="usuarioLogado.funcao == 1">Usuários</li>
                        </ul>
                    </div>
                    <div class="menu-direito">
                        <div class="avatar-usuario">
                            <img @Click="userInfoMobile = true" :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário">
                        </div>
                        <ul class="usuario-menu">
                            <li>{{usuarioLogado.nome}}</li>
                            <li @Click="saindo = true" class="delete">Sair</li>
                        </ul>
                    </div>
                </div>
                <div class="container" v-if="!menuMobile">
                    <ul class="menu-items-mobile">
                        <li @Click="irParaSalas" style="border-top: none;">
                            <i class="material-icons">meeting_room</i>
                            Salas
                        </li>
                        <li @Click="irParaTurmas" style="border-top: none;">
                            <i class="material-icons">groups</i>
                            Turmas
                        </li>
                        <li @Click="irParaUsuarios" style="border-top: none;" v-if="usuarioLogado.funcao == 1">
                            <i class="material-icons">account_circle</i>
                            Usuários
                        </li>
                    </ul>
                </div>
                <ul class="user-info-mobile" v-if="userInfoMobile">
                    <li><i class="large material-icons close-mobile" @Click="userInfoMobile = false">close</i></li>
                    <li class="flex-column center">
                        <div class="avatar-usuario-mobile">
                            <img :src="`${api_url}/uploads/${usuarioLogado.avatar}`" alt="Avatar do usuário" width="60" height="60">
                        </div>
                        {{usuarioLogado.nome}}
                        <small>{{usuarioLogado.email}}</small>
                    </li>
                    <li @Click="saindo = true" class="sair-mobile">Sair</li>
                </ul>
            </nav>

            <div class="container">
                
            </div>

            <div class="modal" v-if="saindo">
                <div class="modal-msg">
                    <i class="modal-main-icon material-icons">cancel</i>
                    <p>Tem certeza que deseja sair?</p>
                    <div class="modal-actions">
                        <div class="cancel-modal" @Click="saindo = false">
                            <i class="material-icons">close</i>
                            Não
                        </div>
                        <div class="accept-modal" @Click="confirmarSaida">
                            <i class="material-icons">check_circle</i>
                            Sim
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/common.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    api_url: api_url,
                    usuarioLogado: null,
                    menuMobile: true,
                    userInfoMobile: false,
                    saindo: false,
                    salas: [],
                    turmas: [],
                },
                created() {
                    this.usuarioLogado = JSON.parse(localStorage.getItem('usuarioLogado'));
                    if(!this.usuarioLogado) {
                        window.location = '/index.html';
                    }

                    let responseSalasAPI = await fetch(`${api_url}/salas`, {
                        method: 'get',
                        headers: api_header,
                        mode: 'cors'
                    });

                    let responseTurmasAPI = await fetch(`${api_url}/turmas`, {
                        method: 'get',
                        headers: api_header,
                        mode: 'cors'
                    });

                    let resSalasJson = await responseSalasAPI.json();
                    let resTurmasJson = await responseTurmasAPI.json();

                    this.salas = resSalasJson;
                    this.turmas = resTurmasJson;
                    console.log(this.salas);
                    console.log(this.turmas);
                },
                methods: {
                    confirmarSaida() {
                        localStorage.removeItem('usuarioLogado');
                        window.location = '/index.html';
                    },
                    irParaTurmas() {
                        window.location = '/turmas/relatorio_turmas.html';
                    },
                    irParaSalas() {
                        window.location = '/salas/relatorio_salas.html';
                    },
                    irParaUsuarios() {
                        window.location = '/usuarios/relatorio_usuarios.html';
                    }
                }
            });
        </script>
    </body>
</html>